@model RENTACARAPP.Models.Entity.TKASATIPI
@{
    ViewBag.Title = "KasatipiEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .headers {
        text-align: center;
        font-size:40;
    }
</style>

<form class="form-group" style="text-align:center" method="post">
    <div>
        
            <h2 class="headers">Eklemek İstediğiniz Kasa Tipini Yazın</h2>
       
            <input type="text" class="form-control" name="KASATIPI"/>
        

    </div>
    <div style="margin-top:15px">
      <button  class="btn btn-info" id:"buton1" style="font-size:20px" >EKLEMEK İÇİN TIKLA </button

      

    </div>
</form>